{{- /* Font stylesheet: loaded outside css.Build so the url() to
       /fonts/... is not resolved at build time. */ -}}
{{- with resources.Get "css/fonts.css" }}
  {{- $css := . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
{{- end }}

{{- /* Optional user stylesheet: assets/css/custom.css in the site
       project overrides nothing in the bundle but loads after, so
       any rule can override theme styles. */ -}}
{{- with resources.Get "css/custom.css" }}
  {{- $css := . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
{{- end }}
